{% extends "base.html" %}
{% block content %}

<body>
    <header>
        <h1>Welcome to <b>Ro</b>-<b>Sham</b>-<b>Bo</b></h1>
    </header>

    <section class="how-to">
        <h2>How to play</h2>
        <p>There are three options to choose from:</p>
        <br>
        <b>Rock, Paper or Scissors</b>
        <br>
        Please seclect from the drop box below
    </section>
    <form action="input_p1">
    <label for="input_p1"></label>
    <select name="input_p1" id="input_p1">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="sicssor">Scissor</option>
    </select>
    <button>Submit</button>
</form>




</body>
{% endblock %}